![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

In [1]:
# Import - using the common alias
import pandas as pd

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy' data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [2]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df
heart_df = pd.read_csv('data/heart.csv')

Find out more about this dataset [here](https://archive.ics.uci.edu/ml/datasets/Statlog+%28Heart%29).

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [3]:
# Let's check this variable out
heart_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
# What type is this variable?
type(heart_df)

pandas.core.frame.DataFrame

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [7]:
# Let's grab just one column
age_series = heart_df['age']
age_series

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [9]:
heart_df.age

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [10]:
# What type is the column?
type(age_series)

pandas.core.series.Series

Both Series and DataFrames have an *index* as well:

In [11]:
heart_df.index

RangeIndex(start=0, stop=303, step=1)

In [12]:
age_series.index

RangeIndex(start=0, stop=303, step=1)

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [13]:
heart_df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [14]:
# This will throw an error!
age_series.columns

AttributeError: 'Series' object has no attribute 'columns'

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [15]:
heart_df.values

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

## Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

In [17]:
#take a peek at data. Can ask for numbers not slices 
heart_df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

### `.tail()` : last 5 rows

In [18]:
#another method() to take a peek 
heart_df.tail(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
293,67,1,2,152,212,0,0,150,0,0.8,1,0,3,0
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
297,59,1,0,164,176,1,0,90,0,1.0,1,2,1,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### `.info()` : information about the columns, including about nulls in those columns

In [19]:
#MOST USEFUL. Size . Run a .info() EVERY TIME you load a datafram with pandas
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### `.describe()` : statistics about the data

In [20]:
#powerful -- numbers for each column 
# not useful if strings/objects. can make it show those see mode etc 
# great to see outliers. Look at max and min relative to the percentiles
#.describe(include=[object])
heart_df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

### `.dtypes` : data types of each column

In [21]:
#this is an attribute. REdundantwith .info()
heart_df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

### `.shape` : number of rows and columns

In [23]:
heart_df.shape 
#nice sanity check expecially when start aggregating data frames

(303, 14)

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [27]:
# Calculate the mean - for the whole dataframe!
heart_df.mean()

age          54.366337
sex           0.683168
cp            0.966997
trestbps    131.623762
chol        246.264026
fbs           0.148515
restecg       0.528053
thalach     149.646865
exang         0.326733
oldpeak       1.039604
slope         1.399340
ca            0.729373
thal          2.313531
target        0.544554
dtype: float64

In [28]:
# Now min
heart_df.min()

age          29.0
sex           0.0
cp            0.0
trestbps     94.0
chol        126.0
fbs           0.0
restecg       0.0
thalach      71.0
exang         0.0
oldpeak       0.0
slope         0.0
ca            0.0
thal          0.0
target        0.0
dtype: float64

In [29]:
# And max
heart_df.max()

age          77.0
sex           1.0
cp            3.0
trestbps    200.0
chol        564.0
fbs           1.0
restecg       2.0
thalach     202.0
exang         1.0
oldpeak       6.2
slope         2.0
ca            4.0
thal          3.0
target        1.0
dtype: float64

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [30]:
# Accessing a CSV from a url
intakes_url = pd.read_csv('https://data.austintexas.gov/resource/wter-evkm.csv')
intakes_url.head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A786884,*Brock,2019-01-03T16:19:00.000,2019-01-03T16:19:00.000,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A857105,Johnny Ringo,2022-05-12T00:23:00.000,2022-05-12T00:23:00.000,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby
4,A682524,Rio,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [31]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
pd.read_json('https://data.austintexas.gov/resource/wter-evkm.json').head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A786884,*Brock,2019-01-03 16:19:00,2019-01-03T16:19:00.000,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A857105,Johnny Ringo,2022-05-12 00:23:00,2022-05-12T00:23:00.000,4404 Sarasota Drive in Austin (TX),Public Assist,Normal,Cat,Neutered Male,2 years,Domestic Shorthair,Orange Tabby
4,A682524,Rio,2014-06-29 10:38:00,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [33]:
# But this is only 1000 rows... website says there's 136K rows!
intakes_url.shape

(1000, 12)

In [34]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
df = pd.read_csv('data/Austin_Animal_Center_Intakes-clean-year.csv')

In [35]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows
df.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [36]:
# Check the last 5 rows
df.tail()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream

In [37]:
# Check the shape
df.shape

(136763, 12)

In [38]:
# Check the datatypes
df.dtypes

Animal ID           object
Name                object
DateTime            object
Year                 int64
Found Location      object
Intake Type         object
Intake Condition    object
Animal Type         object
Sex upon Intake     object
Age upon Intake     object
Breed               object
Color               object
dtype: object

In [39]:
# Check more general information on the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136763 entries, 0 to 136762
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         136763 non-null  object
 1   Name              95772 non-null   object
 2   DateTime          136763 non-null  object
 3   Year              136763 non-null  int64
 4   Found Location    136763 non-null  object
 5   Intake Type       136763 non-null  object
 6   Intake Condition  136763 non-null  object
 7   Animal Type       136763 non-null  object
 8   Sex upon Intake   136762 non-null  object
 9   Age upon Intake   136763 non-null  object
 10  Breed             136763 non-null  object
 11  Color             136763 non-null  object
dtypes: int64(1), object(11)
memory usage: 12.5+ MB

In [40]:
df.describe()

                Year
count  136763.000000
mean     2017.100692
std         2.328994
min      2013.000000
25%      2015.000000
50%      2017.000000
75%      2019.000000
max      2022.000000

#### Any Observations?

-

In [41]:
# We can run describe on just the string columns! Gives a different kind of output
df.describe(include=[object])

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
count,136763,95772,136763,136763,136763,136763,136763,136762,136763,136763,136763
unique,122244,23058,96160,57763,6,15,5,5,53,2734,614
top,A721033,Max,2016-09-23 12:00:00,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,620,64,25674,94180,117867,77098,44962,23422,32034,14291

#### Any Observations?

- Can see non-null counts, number of uniques, plus the most frequent and how frequent it is
- Showcases the different kind of useful data you can explore when it's object vs numeric columns

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [42]:
# Dictionary, where keys match the column names and values are the row values
# Note that the values are list-like - you could easily add more rows by adding to the lists!
next_row = {
    'Animal ID': ['A851755'],
    'Name': ["T'Challa"],
    'DateTime': ['2/28/2022 11:25:00 AM'],
    'Year': [2022],
    'Found Location': ['Houston (TX)'],
    'Intake Type': ['Public Assist'],
    'Intake Condition': ['Normal'],
    'Animal Type': ['Cat'],
    'Sex upon Intake': ['Neutered Male'],
    'Age upon Intake': ['4 years'],
    'Breed': ['Domestic Shorthair'],
    'Color': ['Black']
}
next_row

{'Animal ID': ['A851755'],
 'Name': ["T'Challa"],
 'DateTime': ['2/28/2022 11:25:00 AM'],
 'Year': [2022],
 'Found Location': ['Houston (TX)'],
 'Intake Type': ['Public Assist'],
 'Intake Condition': ['Normal'],
 'Animal Type': ['Cat'],
 'Sex upon Intake': ['Neutered Male'],
 'Age upon Intake': ['4 years'],
 'Breed': ['Domestic Shorthair'],
 'Color': ['Black']}

How can we add this to the bottom of our dataset?

In [43]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.

new_animal = pd.DataFrame.from_dict(next_row)
new_animal

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A851755,T'Challa,2/28/2022 11:25:00 AM,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

In [45]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.

df_augmented = pd.concat([df, new_animal], ignore_index=True)

In [46]:
# Let's check the end to make sure we were successful!
df_augmented.tail()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black

### Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [49]:
# Create a new column, 'test', where every value in the col is 0
df_augmented['Test'] = 0

In [50]:
# Sanity check
df_augmented.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,test,Test
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,0,0
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,0,0
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,0,0
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,0,0
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,0,0

But we don't need that - let's drop that column.

In [54]:
# Drop that test column
df_augmented = df_augmented.drop(columns=['test'])

In [55]:
# Sanity check
df_augmented.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [86]:
# Create a new column, 'Type', from the two 'Type' columns
#COOL
df_augmented['Type'] = df_augmented['Intake Type'] + " " + df_augmented['Animal Type']

In [87]:
# Sanity check
df_augmented.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Type
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,Stray Dog
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,Stray Dog
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,Stray Dog
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,Stray Cat
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,Stray Dog

## Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [56]:
# Check which rows have an intake year greater than or equal to 2020
# boolean mask 
df_augmented['Year'] >= 2020

0         False
1         False
2         False
3         False
4         False
          ...
136759     True
136760     True
136761     True
136762     True
136763     True
Name: Year, Length: 136764, dtype: bool

In [57]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020
# Python treats trues as 1 and Falses as 0 -- can take a sum 
sum(df_augmented['Year'] >= 2020)

23270

But this only gives us True/False outputs... what if we want to really filter?

### `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [58]:
# Create a subset dataframe of animals taken in during or after 2020
# square bracket since its locating
# can do it without the .loc everything else the same
subset_2020 = df_augmented.loc[df_augmented['Year'] >= 2020]

In [59]:
subset_2020.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
7,A844350,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby
9,A818975,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby
22,A831808,NaN,2021-04-02 11:16:00,2021,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Tortie
24,A836850,NaN,2021-06-15 12:37:00,2021,6111 Softwood Drive in Austin (TX),Public Assist,Pregnant,Dog,Intact Female,4 years,Pit Bull,Blue/White
26,A815227,Baby,2020-03-12 13:52:00,2020,12305 Zeller Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Norfolk Terrier,Brown/Cream

We can return only certain columns when we do this, by adding an argument after the condition:

In [61]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns
df_augmented.loc[df_augmented['Year'] >= 2020, ['Animal ID', 'DateTime']]

       Animal ID               DateTime
7        A844350    2021-10-15 11:40:00
9        A818975    2020-06-18 14:53:00
22       A831808    2021-04-02 11:16:00
24       A836850    2021-06-15 12:37:00
26       A815227    2020-03-12 13:52:00
...          ...                    ...
136759   A852221    2022-02-28 11:05:00
136760   A851977    2022-02-22 13:34:00
136761   A852127    2022-02-25 13:05:00
136762   A852194    2022-02-27 13:44:00
136763   A851755  2/28/2022 11:25:00 AM

[23270 rows x 2 columns]

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [63]:
# Find all the Stray Cats taken in during or after 2020
# combining conditionals 
df_augmented.loc[(df_augmented['Year'] >= 2020) & (df_augmented['Type'] == 'Stray Cat')]

KeyError: 'Type'

## Your turn!

### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [ ]:
# Your code here

<details>
    <summary>Answer</summary>

```python
df_augmented.loc[(df_augmented['Animal Type'] == 'Dog') & (df_augmented['Intake Condition'] != 'Normal')]
```
</details>

### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [ ]:
# Your code here

<details>
    <summary>Answer</summary>

```python
df_augmented[(df_augmented['Sex upon Intake'] == 'Intact Male') |
             (df_augmented['Sex upon Intake'] == 'Intact Female')]
```
</details>

### `.iloc`

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [66]:
# Find the first 3 rows
df_augmented.iloc[:3]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White

In [67]:
# Same as using head(3)
df_augmented.head(3)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White

In [68]:
# Can look exactly where the 0 index is
df_augmented.iloc[0]

Animal ID                                       A786884
Name                                             *Brock
DateTime                            2019-01-03 16:19:00
Year                                               2019
Found Location      2501 Magin Meadow Dr in Austin (TX)
Intake Type                                       Stray
Intake Condition                                 Normal
Animal Type                                         Dog
Sex upon Intake                           Neutered Male
Age upon Intake                                 2 years
Breed                                        Beagle Mix
Color                                          Tricolor
Name: 0, dtype: object

In [69]:
# But what about our subset dataframe above? It doesn't have an index 0
subset_2020.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
7,A844350,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby
9,A818975,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby
22,A831808,NaN,2021-04-02 11:16:00,2021,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Tortie
24,A836850,NaN,2021-06-15 12:37:00,2021,6111 Softwood Drive in Austin (TX),Public Assist,Pregnant,Dog,Intact Female,4 years,Pit Bull,Blue/White
26,A815227,Baby,2020-03-12 13:52:00,2020,12305 Zeller Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Norfolk Terrier,Brown/Cream

In [70]:
# Try it...
subset_2020.iloc[0]

Animal ID                                                 A844350
Name                                                        *Ella
DateTime                                      2021-10-15 11:40:00
Year                                                         2021
Found Location      2112 East William Cannon Drive in Austin (TX)
Intake Type                                                 Stray
Intake Condition                                           Normal
Animal Type                                                   Cat
Sex upon Intake                                     Intact Female
Age upon Intake                                          6 months
Breed                                          Domestic Shorthair
Color                                                 Brown Tabby
Name: 7, dtype: object

## Series Methods

### `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [71]:
# Check the value counts for Animal Type
df_augmented['Animal Type'].value_counts()

Dog          77098
Cat          51753
Other         7253
Bird           636
Livestock       24
Name: Animal Type, dtype: int64

In [72]:
# Now check Breed
df_augmented['Breed'].value_counts()

Domestic Shorthair Mix                   32034
Domestic Shorthair                       10441
Pit Bull Mix                              8913
Labrador Retriever Mix                    7370
Chihuahua Shorthair Mix                   6486
                                         ...
Australian Cattle Dog/Black Mouth Cur        1
Australian Shepherd/Staffordshire            1
Dachshund Stan Mix                           1
American Curl Shorthair/Siamese              1
Pointer/Boston Terrier                       1
Name: Breed, Length: 2734, dtype: int64

In [74]:
list(df_augmented['Breed'].value_counts().index)

['Domestic Shorthair Mix',
 'Domestic Shorthair',
 'Pit Bull Mix',
 'Labrador Retriever Mix',
 'Chihuahua Shorthair Mix',
 'German Shepherd Mix',
 'Domestic Medium Hair Mix',
 'Pit Bull',
 'Bat Mix',
 'Bat',
 'Australian Cattle Dog Mix',
 'Domestic Longhair Mix',
 'Siamese Mix',
 'Chihuahua Shorthair',
 'Labrador Retriever',
 'German Shepherd',
 'Domestic Medium Hair',
 'Dachshund Mix',
 'Boxer Mix',
 'Border Collie Mix',
 'Miniature Poodle Mix',
 'Siberian Husky Mix',
 'Catahoula Mix',
 'Australian Shepherd Mix',
 'Staffordshire Mix',
 'Rat Terrier Mix',
 'Yorkshire Terrier Mix',
 'Great Pyrenees Mix',
 'Beagle Mix',
 'Miniature Schnauzer Mix',
 'Jack Russell Terrier Mix',
 'Pointer Mix',
 'Raccoon Mix',
 'Cairn Terrier Mix',
 'Siberian Husky',
 'Raccoon',
 'Chihuahua Longhair Mix',
 'American Bulldog Mix',
 'Rottweiler Mix',
 'Anatol Shepherd Mix',
 'Plott Hound Mix',
 'Black Mouth Cur Mix',
 'Shih Tzu Mix',
 'Domestic Longhair',
 'Australian Kelpie Mix',
 'Labrador Retriever/Pit Bull',
 'Chihuahua Shorthair/Dachshund',
 'Australian Cattle Dog',
 'American Pit Bull Terrier Mix',
 'Rabbit Sh Mix',
 'German Shepherd/Labrador Retriever',
 'Guinea Pig',
 'Siamese',
 'Dachshund/Chihuahua Shorthair',
 'Great Pyrenees',
 'Labrador Retriever/German Shepherd',
 'American Staffordshire Terrier Mix',
 'Golden Retriever Mix',
 'Pit Bull/Labrador Retriever',
 'Dachshund',
 'Boxer',
 'Rottweiler',
 'Maltese Mix',
 'Shih Tzu',
 'American Shorthair Mix',
 'Miniature Pinscher Mix',
 'Border Terrier Mix',
 'Snowshoe Mix',
 'Rabbit Sh',
 'Blue Lacy Mix',
 'Opossum Mix',
 'Chow Chow Mix',
 'Doberman Pinsch Mix',
 'Queensland Heeler Mix',
 'Miniature Poodle',
 'Basset Hound Mix',
 'Pug Mix',
 'Pomeranian Mix',
 'American Pit Bull Terrier',
 'Opossum',
 'Cairn Terrier',
 'Lhasa Apso Mix',
 'Labrador Retriever/Border Collie',
 'Cardigan Welsh Corgi Mix',
 'Guinea Pig Mix',
 'Chicken Mix',
 'Beagle',
 'Cocker Spaniel Mix',
 'Mastiff Mix',
 'Chinese Sharpei Mix',
 'Border Collie',
 'Yorkshire Terrier',
 'Alaskan Husky Mix',
 'Doberman Pinsch',
 'Boston Terrier Mix',
 'Black/Tan Hound Mix',
 'Labrador Retriever/Australian Cattle Dog',
 'Dachshund Longhair Mix',
 'Miniature Schnauzer',
 'Border Collie/Labrador Retriever',
 'Manchester Terrier Mix',
 'Great Dane Mix',
 'Toy Poodle Mix',
 'Maine Coon Mix',
 'Flat Coat Retriever Mix',
 'Skunk',
 'Labrador Retriever/Great Pyrenees',
 'Dachshund Wirehair Mix',
 'Pug',
 'Australian Shepherd',
 'Collie Smooth Mix',
 'Bull Terrier Mix',
 'Chihuahua Longhair',
 'Manx Mix',
 'Pit Bull/Boxer',
 'Norfolk Terrier Mix',
 'Skunk Mix',
 'Chicken',
 'Rhod Ridgeback Mix',
 'Maltese',
 'Rat Terrier',
 'Australian Cattle Dog/Labrador Retriever',
 'Maltese/Miniature Poodle',
 'Fox',
 'Staffordshire',
 'Carolina Dog Mix',
 'Anatol Shepherd',
 'English Bulldog Mix',
 'Belgian Malinois Mix',
 'Boxer/Pit Bull',
 'Redbone Hound Mix',
 'Alaskan Husky',
 'Pekingese Mix',
 'Jack Russell Terrier',
 'Catahoula',
 'Miniature Schnauzer/Miniature Poodle',
 'American Bulldog',
 'Harrier Mix',
 'Chihuahua Shorthair/Rat Terrier',
 'Pointer',
 'Labrador Retriever/Boxer',
 'Whippet Mix',
 'Boxer/Labrador Retriever',
 'American Staffordshire Terrier',
 'Pembroke Welsh Corgi Mix',
 'Miniature Pinscher',
 'Squirrel Mix',
 'Chihuahua Shorthair/Pug',
 'Rat Terrier/Chihuahua Shorthair',
 'Russian Blue Mix',
 'Basenji Mix',
 'Cocker Spaniel',
 'German Shepherd/Siberian Husky',
 'Siberian Husky/German Shepherd',
 'Great Pyrenees/Labrador Retriever',
 'Labrador Retriever/Beagle',
 'Soft Coated Wheaten Terrier Mix',
 'Rat Mix',
 'English Bulldog',
 'Bichon Frise Mix',
 'Boston Terrier',
 'Chihuahua Shorthair/Jack Russell Terrier',
 'Great Dane',
 'Jack Russell Terrier/Chihuahua Shorthair',
 'West Highland Mix',
 'Golden Retriever',
 'Basset Hound',
 'Standard Schnauzer Mix',
 'German Shorthair Pointer Mix',
 'Akita Mix',
 'Fox Mix',
 'Pbgv Mix',
 'Pointer/Labrador Retriever',
 'Dalmatian Mix',
 'Weimaraner Mix',
 'Dutch Shepherd Mix',
 'Norwich Terrier Mix',
 'Pomeranian',
 'Labrador Retriever/Pointer',
 'Papillon Mix',
 'Shiba Inu Mix',
 'Wire Hair Fox Terrier Mix',
 'Beagle/Labrador Retriever',
 'Bull Terrier',
 'Rat',
 'Shetland Sheepdog Mix',
 'Australian Cattle Dog/German Shepherd',
 'Bulldog Mix',
 'Vizsla Mix',
 'Squirrel',
 'Treeing Walker Coonhound Mix',
 'Labrador Retriever/Chow Chow',
 'Bruss Griffon Mix',
 'Plott Hound',
 'Pit Bull/Australian Cattle Dog',
 'Pug/Beagle',
 'Collie Rough Mix',
 'Smooth Fox Terrier Mix',
 'Wire Hair Fox Terrier',
 'Belgian Malinois',
 'Black Mouth Cur',
 'Pug/Chihuahua Shorthair',
 'Parson Russell Terrier Mix',
 'Australian Cattle Dog/Pit Bull',
 'Ragdoll Mix',
 'Beagle/Dachshund',
 'Border Terrier',
 'Labrador Retriever/Chinese Sharpei',
 'Rottweiler/Labrador Retriever',
 'Parakeet',
 'Catahoula/Labrador Retriever',
 'Lhasa Apso',
 'Labrador Retriever/Australian Shepherd',
 'American Shorthair',
 'Toy Poodle',
 'Dachshund Longhair',
 'Labrador Retriever/Rottweiler',
 'German Shepherd/Australian Cattle Dog',
 'Pharaoh Hound Mix',
 'Himalayan Mix',
 'Labrador Retriever/Catahoula',
 'Pekingese',
 'Labrador Retriever/Golden Retriever',
 'Australian Shepherd/Labrador Retriever',
 'Pointer/Pit Bull',
 'Golden Retriever/Labrador Retriever',
 'Californian Mix',
 'Alaskan Husky/German Shepherd',
 'Miniature Poodle/Maltese',
 'Labrador Retriever/Plott Hound',
 'Greyhound Mix',
 'Pit Bull/Catahoula',
 'Australian Kelpie',
 'English Coonhound Mix',
 'Border Collie/German Shepherd',
 'Ferret',
 'Beagle/Chihuahua Shorthair',
 'Chihuahua Shorthair/Cardigan Welsh Corgi',
 'Pit Bull/Chinese Sharpei',
 'Hamster Mix',
 'Chow Chow',
 'Havanese Mix',
 'Bloodhound Mix',
 'Dachshund/Beagle',
 'German Shepherd/Alaskan Husky',
 'Miniature Poodle/Miniature Schnauzer',
 'Plott Hound/Labrador Retriever',
 'Queensland Heeler',
 'Scottish Terrier Mix',
 'Tibetan Spaniel Mix',
 'Italian Greyhound Mix',
 'Labrador Retriever/Siberian Husky',
 'Chinese Sharpei',
 'Mastiff',
 'Cairn Terrier/Chihuahua Shorthair',
 'Anatol Shepherd/Great Pyrenees',
 'Yorkshire Terrier/Chihuahua Shorthair',
 'Blue Lacy',
 'Hamster',
 'Siberian Husky/Labrador Retriever',
 'American Eskimo Mix',
 'Bullmastiff Mix',
 'German Shepherd/Chow Chow',
 'Parakeet Mix',
 'Anatol Shepherd/Labrador Retriever',
 'English Pointer Mix',
 'Chihuahua Shorthair/Beagle',
 'Yorkshire Terrier/Miniature Poodle',
 'Chihuahua Shorthair/Yorkshire Terrier',
 'American Foxhound Mix',
 'Border Collie/Great Pyrenees',
 'Alaskan Malamute Mix',
 'Standard Poodle Mix',
 'Labrador Retriever/Dachshund',
 'Beagle/Pug',
 'Miniature Pinscher/Chihuahua Shorthair',
 'Beauceron Mix',
 'Toy Fox Terrier Mix',
 'Brittany Mix',
 'Cavalier Span Mix',
 'Labrador Retriever/Anatol Shepherd',
 'Bernese Mountain Dog Mix',
 'French Bulldog',
 'Maine Coon',
 'Finnish Spitz Mix',
 'Catahoula/Pit Bull',
 'Border Collie/Australian Cattle Dog',
 'Pit Bull/German Shepherd',
 'Ferret Mix',
 'St. Bernard Rough Coat Mix',
 'Schnauzer Giant Mix',
 'Chihuahua Shorthair/Cairn Terrier',
 'Pit Bull/Pointer',
 'Airedale Terrier Mix',
 'Dogo Argentino Mix',
 'Chinese Sharpei/Labrador Retriever',
 'Jack Russell Terrier/Beagle',
 'Australian Shepherd/Border Collie',
 'German Shepherd/Great Pyrenees',
 'German Shepherd/Rottweiler',
 'Bluetick Hound Mix',
 'Australian Cattle Dog/Border Collie',
 'Welsh Terrier',
 'Bichon Frise',
 'Chihuahua Shorthair/Miniature Pinscher',
 'Snowshoe',
 'Vizsla',
 'German Shorthair Pointer',
 'Black/Tan Hound',
 'Chesa Bay Retr Mix',
 'Beagle/German Shepherd',
 'American Bulldog/Pit Bull',
 'Collie Smooth',
 'Weimaraner',
 'Great Pyrenees/Anatol Shepherd',
 'Akita',
 'Labrador Retriever/Basset Hound',
 'Cardigan Welsh Corgi/Chihuahua Shorthair',
 'German Shepherd/Pit Bull',
 'Rottweiler/German Shepherd',
 'Australian Terrier Mix',
 'Lionhead Mix',
 'Labrador Retriever/Great Dane',
 'Russian Blue',
 'Shih Tzu/Miniature Poodle',
 'Norfolk Terrier/Chihuahua Shorthair',
 'German Shepherd/Boxer',
 'Soft Coated Wheaten Terrier',
 'Cold Water',
 'Lhasa Apso/Miniature Poodle',
 'Rex Mix',
 'St. Bernard Smooth Coat Mix',
 'Miniature Schnauzer/Yorkshire Terrier',
 'Tibetan Terrier Mix',
 'Pembroke Welsh Corgi',
 'Duck Mix',
 'Chihuahua Shorthair/Boston Terrier',
 'Carolina Dog',
 'Dachshund/Rat Terrier',
 'Californian',
 'Pit Bull/Border Collie',
 'Dachshund/Labrador Retriever',
 'Anatol Shepherd/German Shepherd',
 'Catahoula/Plott Hound',
 'Irish Terrier Mix',
 'Persian Mix',
 'Great Dane/Labrador Retriever',
 'Alaskan Malamute',
 'Rhod Ridgeback',
 'West Highland',
 'Mouse',
 'French Bulldog Mix',
 'Great Pyrenees/Border Collie',
 'Treeing Cur Mix',
 'Labrador Retriever/Australian Kelpie',
 'Labrador Retriever/Doberman Pinsch',
 'Duck',
 'German Shepherd/Border Collie',
 'Rhod Ridgeback/Labrador Retriever',
 'Chow Chow/Labrador Retriever',
 'Cocker Spaniel/Miniature Poodle',
 'Cardigan Welsh Corgi',
 'German Wirehaired Pointer Mix',
 'Pointer/Australian Cattle Dog',
 'Dogue De Bordeaux Mix',
 'English Springer Spaniel Mix',
 'Cane Corso Mix',
 'Coyote',
 'Weimaraner/Labrador Retriever',
 'Yorkshire Terrier/Miniature Schnauzer',
 'Cane Corso',
 'Turtle Mix',
 'Basset Hound/Labrador Retriever',
 'Feist Mix',
 'Siamese/Domestic Shorthair',
 'Miniature Poodle/Cocker Spaniel',
 'Standard Poodle/Labrador Retriever',
 'Chow Chow/German Shepherd',
 'Boxer/Beagle',
 'Labrador Retriever/Blue Lacy',
 'Australian Cattle Dog/Beagle',
 'Dachshund Wirehair/Chihuahua Shorthair',
 'Landseer Mix',
 'German Shepherd/Cardigan Welsh Corgi',
 'Miniature Poodle/Lhasa Apso',
 'Chihuahua Shorthair/Italian Greyhound',
 'Siberian Husky/Australian Cattle Dog',
 'German Shepherd/Black Mouth Cur',
 'Maltese/Toy Poodle',
 'Standard Poodle',
 'Snake Mix',
 'Catahoula/Australian Cattle Dog',
 'Yorkshire Terrier/Chihuahua Longhair',
 'Border Collie/Australian Shepherd',
 'Dachshund Longhair/Chihuahua Longhair',
 'German Shepherd/Catahoula',
 'Labrador Retriever/Greyhound',
 'Balinese Mix',
 'Maltese/Yorkshire Terrier',
 'Parson Russell Terrier',
 'Leonberger Mix',
 'Australian Cattle Dog/Boxer',
 'Schipperke Mix',
 'Swedish Vallhund Mix',
 'Labrador Retriever/Whippet',
 'Dove Mix',
 'Redbone Hound',
 'Jack Russell Terrier/Dachshund',
 'Pomeranian/Chihuahua Longhair',
 'German Shepherd/Australian Kelpie',
 'Snake',
 'Greyhound',
 'Cavalier Span',
 'Jack Russell Terrier/Australian Cattle Dog',
 'German Shepherd/Anatol Shepherd',
 'Persian',
 'Patterdale Terr Mix',
 'Australian Shepherd/German Shepherd',
 'Yorkshire Terrier/Maltese',
 'Shih Tzu/Maltese',
 'Chihuahua Longhair/Dachshund',
 'Golden Retriever/Chow Chow',
 'Belgian Malinois/German Shepherd',
 'Welsh Terrier Mix',
 'Bloodhound',
 'Norfolk Terrier',
 'Beagle/Basset Hound',
 'Labrador Retriever/Black/Tan Hound',
 'Cocker Spaniel/Labrador Retriever',
 'Harrier',
 'Boston Terrier/Chihuahua Shorthair',
 'Labrador Retriever/Standard Poodle',
 'Black Mouth Cur/Pit Bull',
 'Pit Bull/Chihuahua Shorthair',
 'Great Pyrenees/German Shepherd',
 'German Shorthair Pointer/Australian Cattle Dog',
 'Manx',
 'Silky Terrier Mix',
 'Irish Wolfhound Mix',
 'Ragdoll',
 'St. Bernard Rough Coat/Boxer',
 'Bengal Mix',
 'Standard Schnauzer',
 'Shih Tzu/Chihuahua Shorthair',
 'Bullmastiff',
 'Border Terrier/Chihuahua Shorthair',
 'Black/Tan Hound/Labrador Retriever',
 'Turtle',
 'Jindo Mix',
 'Dachshund/Pit Bull',
 'Chinese Crested Mix',
 'German Shepherd/Australian Shepherd',
 'Pigeon Mix',
 'Rabbit Lh Mix',
 'American Eskimo',
 'Pigeon',
 'Australian Cattle Dog/Staffordshire',
 'Pit Bull/Basset Hound',
 'Cockatiel Mix',
 'Chihuahua Longhair/Pomeranian',
 'Samoyed Mix',
 'Lionhead',
 'Yorkshire Terrier/Border Terrier',
 'Beagle/Boxer',
 'Pharaoh Hound',
 'Pointer/Beagle',
 'Himalayan',
 'Manchester Terrier/Chihuahua Shorthair',
 'Papillon',
 'Beagle/Australian Cattle Dog',
 'English Foxhound Mix',
 'Shetland Sheepdog',
 'American Bulldog/Labrador Retriever',
 'English Spot Mix',
 'Labrador Retriever/Standard Schnauzer',
 'Chihuahua Shorthair/Pomeranian',
 'Old English Bulldog Mix',
 'Miniature Schnauzer/Chihuahua Shorthair',
 'Labrador Retriever/Mastiff',
 'Mastiff/Pit Bull',
 'Dalmatian',
 'Cairn Terrier/Yorkshire Terrier',
 'Glen Of Imaal Mix',
 'Lop-English Mix',
 'Labrador Retriever/American Pit Bull Terrier',
 'Labrador Retriever/Alaskan Husky',
 'Dove',
 'Siberian Husky/Pit Bull',
 'Field Spaniel Mix',
 'Pbgv',
 'English Shepherd Mix',
 'New Zealand Wht Mix',
 'Cockatiel',
 'Collie Smooth/Labrador Retriever',
 'Dachshund/Miniature Pinscher',
 'Coyote Mix',
 'Bearded Collie Mix',
 'Dachshund/Manchester Terrier',
 'Havana Mix',
 'Australian Shepherd/Great Pyrenees',
 'Basset Hound/Pit Bull',
 'Labrador Retriever/Staffordshire',
 'American Curl Shorthair Mix',
 'Australian Cattle Dog/Pointer',
 'Bulldog',
 'Smooth Fox Terrier',
 'Blue Lacy/Pit Bull',
 'Great Pyrenees/Golden Retriever',
 'Staffordshire/Labrador Retriever',
 'Angora Mix',
 'Shiba Inu',
 'Beagle/Pit Bull',
 'Rat Terrier/Dachshund',
 'Labrador Retriever/Rhod Ridgeback',
 'Australian Shepherd/Australian Cattle Dog',
 'Miniature Poodle/Bichon Frise',
 'Lop-Holland Mix',
 'Dalmatian/Labrador Retriever',
 'Labrador Retriever/Weimaraner',
 'Lop-Holland',
 'Lizard Mix',
 'Border Collie/Catahoula',
 'Abyssinian Mix',
 'Labrador Retriever/Queensland Heeler',
 'Standard Schnauzer/Miniature Poodle',
 'Australian Cattle Dog/Australian Shepherd',
 'Yorkshire Terrier/Toy Poodle',
 'Siberian Husky/Border Collie',
 'Dachshund Wirehair/Miniature Poodle',
 'Chihuahua Shorthair/Dachshund Wirehair',
 'Boxer/Chinese Sharpei',
 'Jack Russell Terrier/Labrador Retriever',
 'Chihuahua Shorthair/Pit Bull',
 'Boykin Span Mix',
 'Black Mouth Cur/Labrador Retriever',
 'Norwich Terrier',
 'Brittany',
 'German Shepherd/Doberman Pinsch',
 'Australian Cattle Dog/Catahoula',
 'Dachshund Wirehair',
 'Bull Terrier Miniature Mix',
 'Labrador Retriever/Jack Russell Terrier',
 'Keeshond Mix',
 'Pointer/Border Collie',
 'German Shepherd/Chinese Sharpei',
 'Skye Terrier Mix',
 'Basset Hound/Beagle',
 'Pit Bull/Black Mouth Cur',
 'Rat Terrier/Beagle',
 'Chihuahua Shorthair/Border Terrier',
 'Chihuahua Shorthair/Manchester Terrier',
 'Rex',
 'Staffordshire/Boxer',
 'Newfoundland Mix',
 'Cardigan Welsh Corgi/Labrador Retriever',
 'Boxer/Australian Cattle Dog',
 'Pointer/Boxer',
 'Jack Russell Terrier/Rat Terrier',
 'Australian Shepherd/Chow Chow',
 'Wirehaired Pointing Griffon Mix',
 'Alaskan Husky/Labrador Retriever',
 'Rottweiler/Australian Cattle Dog',
 'Tonkinese Mix',
 'Labrador Retriever/Collie Smooth',
 'Boxer/Pointer',
 'Dachshund Longhair/Chihuahua Shorthair',
 'Japanese Bobtail Mix',
 'Beagle/Catahoula',
 'Canaan Dog Mix',
 'Pit Bull/Plott Hound',
 'Dutch Shepherd',
 'Boxer/Staffordshire',
 'American Foxhound',
 'Tortoise',
 'Doberman Pinsch/Labrador Retriever',
 'Collie Rough',
 'Tortoise Mix',
 'American Bulldog/Boxer',
 'Cardigan Welsh Corgi/Australian Cattle Dog',
 'Yorkshire Terrier/Cairn Terrier',
 'Border Terrier/Yorkshire Terrier',
 'Havanese',
 'Rabbit Lh',
 'Australian Kelpie/Labrador Retriever',
 'Labrador Retriever/Bearded Collie',
 'Bombay Mix',
 'Labrador Retriever/Redbone Hound',
 'Great Pyrenees/Catahoula',
 'Bruss Griffon',
 'Bengal',
 'Lizard',
 'Dachshund/Pug',
 'Picardy Sheepdog Mix',
 'Miniature Schnauzer/Cairn Terrier',
 'Border Collie/Chow Chow',
 'Pembroke Welsh Corgi/Chihuahua Shorthair',
 'Australian Cattle Dog/Belgian Malinois',
 'American Staffordshire Terrier/Labrador Retriever',
 'Beagle/Rat Terrier',
 'Presa Canario Mix',
 'Alaskan Malamute/German Shepherd',
 'Nova Scotia Duck Tolling Retriever',
 'Toy Fox Terrier',
 'Chihuahua Shorthair/Pembroke Welsh Corgi',
 'Border Terrier/Dachshund',
 'Great Pyrenees/Australian Cattle Dog',
 'Pit Bull/Boston Terrier',
 'Australian Kelpie/Pit Bull',
 'Chow Chow/Australian Cattle Dog',
 'Old English Sheepdog Mix',
 'Pointer/Catahoula',
 'Japanese Chin Mix',
 'German Shepherd/Black/Tan Hound',
 'German Shepherd/Golden Retriever',
 'English Setter Mix',
 'German Shepherd/Mastiff',
 'Yorkshire Terrier/Norfolk Terrier',
 'Neapolitan Mastiff Mix',
 'Grackle Mix',
 'Great Pyrenees/American Bulldog',
 'Grackle',
 'Redbone Hound/Labrador Retriever',
 'Chihuahua Shorthair/Miniature Poodle',
 'Greyhound/Labrador Retriever',
 'Staffordshire/English Bulldog',
 'Mouse Mix',
 'Cairn Terrier/Miniature Poodle',
 'Catahoula/Chinese Sharpei',
 'Miniature Poodle/Yorkshire Terrier',
 'British Shorthair Mix',
 'Bantam Mix',
 'Kuvasz Mix',
 'Australian Cattle Dog/Great Pyrenees',
 'English Springer Spaniel',
 'Labrador Retriever/Labrador Retriever',
 'Catahoula/Pointer',
 'Miniature Poodle/Dachshund',
 'Pit Bull/Bulldog',
 'Abyssinian',
 'Australian Cattle Dog/Akita',
 'Miniature Poodle/Shih Tzu',
 'Pit Bull/Blue Lacy',
 'Cold Water Mix',
 'Black Mouth Cur/German Shepherd',
 'Pig Mix',
 'Pig',
 'Chow Chow/Pit Bull',
 'Labrador Retriever/American Bulldog',
 'Turkish Van Mix',
 'Catahoula/German Shepherd',
 'Labrador Retriever/Flat Coat Retriever',
 'Cocker Spaniel/Dachshund',
 'Dachshund Wirehair/Border Terrier',
 'Mexican Hairless Mix',
 'Dachshund/Australian Cattle Dog',
 'Pit Bull/Mastiff',
 'Basenji/Chihuahua Shorthair',
 'Bluetick Hound',
 'Cairn Terrier/Chihuahua Longhair',
 'Netherlnd Dwarf',
 'Ibizan Hound Mix',
 'Old English Bulldog',
 'Miniature Poodle/Cairn Terrier',
 'Plott Hound/Australian Cattle Dog',
 'English Coonhound',
 'Saluki Mix',
 'Manchester Terrier/Dachshund',
 'St. Bernard Smooth Coat',
 'Pit Bull/Chow Chow',
 'Miniature Pinscher/Dachshund',
 'Basset Hound/Australian Cattle Dog',
 'Cairn Terrier/Miniature Schnauzer',
 'Miniature Poodle/Chihuahua Shorthair',
 'Whippet/Labrador Retriever',
 'Pit Bull/Dalmatian',
 'Armadillo Mix',
 'Nova Scotia Duck Tolling Retriever Mix',
 'Catahoula/Beagle',
 'German Shepherd/Collie Rough',
 'Mastiff/Chinese Sharpei',
 'Wire Hair Fox Terrier/Chihuahua Shorthair',
 'Podengo Pequeno Mix',
 'Dachshund/Chihuahua Longhair',
 'Shih Tzu/Yorkshire Terrier',
 'Dachshund/Cardigan Welsh Corgi',
 'Tibetan Spaniel',
 'Great Pyrenees/St. Bernard Smooth Coat',
 'Labrador Retriever/Vizsla',
 'Pug/Labrador Retriever',
 'Yorkshire Terrier/Rat Terrier',
 'Black Mouth Cur/Doberman Pinsch',
 'Chihuahua Longhair/Rat Terrier',
 'Australian Shepherd/Anatol Shepherd',
 'Cairn Terrier/Dachshund',
 'Chihuahua Shorthair/Whippet',
 'Scottish Terrier',
 'Akbash Mix',
 'Bernese Mountain Dog',
 'Turkish Angora Mix',
 'Boerboel Mix',
 'Plott Hound/Pit Bull',
 'Australian Kelpie/Beagle',
 'Beagle/Pointer',
 'Boxer/Catahoula',
 'Black Mouth Cur/Catahoula',
 'Australian Cattle Dog/Anatol Shepherd',
 'Akita/German Shepherd',
 'American Mix',
 'Golden Retriever/Great Pyrenees',
 'Otterhound Mix',
 'Border Collie/Beagle',
 'Affenpinscher Mix',
 'Australian Cattle Dog/Cardigan Welsh Corgi',
 'St. Bernard Rough Coat',
 'Chinese Sharpei/Pit Bull',
 'Collie Rough/Spanish Water Dog',
 'Basenji',
 'Labrador Retriever/Black Mouth Cur',
 'Boxer/Black Mouth Cur',
 'English Foxhound',
 'Akita/Australian Cattle Dog',
 'Cardigan Welsh Corgi/German Shepherd',
 'Finnish Spitz',
 'German Shepherd/Akita',
 'Tarantula',
 'Hawk',
 'Rottweiler/Plott Hound',
 'Pointer/Chihuahua Longhair',
 'Blue Lacy/American Bulldog',
 'Great Pyrenees/Australian Shepherd',
 'Bull Terrier Miniature',
 'Gerbil Mix',
 'Irish Terrier',
 'Pomeranian/Chihuahua Shorthair',
 'Finch',
 'American Pit Bull Terrier/Labrador Retriever',
 'Labrador Retriever/Miniature Poodle',
 'Standard Poodle/Golden Retriever',
 'Blue Lacy/Labrador Retriever',
 'Labrador Retriever/Dalmatian',
 'Border Collie/Pointer',
 'Jack Russell Terrier/Cairn Terrier',
 'Border Collie/Bull Terrier',
 'Australian Cattle Dog/Dachshund',
 'Pit Bull/Beagle',
 'Dalmatian/Pit Bull',
 'Weimaraner/Vizsla',
 'Cardigan Welsh Corgi/Beagle',
 'Australian Cattle Dog/Pembroke Welsh Corgi',
 'Flat Coat Retriever/Papillon',
 'Parrot Mix',
 'Chihuahua Shorthair/Swedish Vallhund',
 'Rottweiler/Pit Bull',
 'Anatol Shepherd/Border Collie',
 'Dachshund/Jack Russell Terrier',

In [76]:
list(df_augmented['Breed'].value_counts().values)

[32034,
 10441,
 8913,
 7370,
 6486,
 3332,
 3215,
 1920,
 1756,
 1681,
 1645,
 1580,
 1345,
 1330,
 1296,
 1160,
 1096,
 1091,
 1041,
 1004,
 875,
 763,
 744,
 740,
 719,
 656,
 644,
 623,
 620,
 617,
 576,
 557,
 539,
 538,
 533,
 518,
 515,
 487,
 467,
 455,
 431,
 417,
 413,
 409,
 409,
 396,
 387,
 362,
 346,
 338,
 328,
 316,
 313,
 294,
 289,
 285,
 282,
 252,
 248,
 240,
 240,
 231,
 230,
 227,
 223,
 215,
 214,
 205,
 204,
 193,
 191,
 185,
 184,
 178,
 171,
 167,
 160,
 159,
 158,
 156,
 155,
 153,
 153,
 153,
 152,
 151,
 151,
 150,
 149,
 149,
 147,
 142,
 140,
 140,
 135,
 131,
 130,
 128,
 126,
 125,
 123,
 123,
 122,
 120,
 120,
 119,
 119,
 116,
 115,
 115,
 113,
 110,
 110,
 108,
 107,
 107,
 105,
 104,
 104,
 102,
 102,
 102,
 100,
 99,
 99,
 98,
 97,
 97,
 96,
 95,
 95,
 95,
 94,
 94,
 93,
 93,
 91,
 91,
 90,
 89,
 88,
 88,
 87,
 87,
 86,
 86,
 85,
 85,
 84,
 82,
 82,
 81,
 80,
 78,
 77,
 77,
 75,
 74,
 73,
 72,
 71,
 69,
 69,
 69,
 69,
 65,
 65,
 65,
 63,
 62,
 62,
 62,
 61,
 61,
 60,
 60,
 60,
 60,
 60,
 60,
 60,
 59,
 57,
 57,
 57,
 55,
 55,
 55,
 55,
 55,
 55,
 55,
 54,
 54,
 54,
 54,
 53,
 51,
 51,
 51,
 51,
 50,
 50,
 49,
 49,
 49,
 48,
 48,
 47,
 47,
 47,
 46,
 45,
 45,
 45,
 44,
 44,
 44,
 44,
 44,
 43,
 43,
 43,
 43,
 42,
 42,
 42,
 42,
 41,
 41,
 41,
 40,
 40,
 40,
 40,
 39,
 39,
 39,
 39,
 39,
 39,
 38,
 38,
 38,
 38,
 37,
 37,
 37,
 37,
 36,
 36,
 36,
 36,
 36,
 35,
 35,
 35,
 35,
 35,
 34,
 34,
 34,
 33,
 33,
 33,
 33,
 33,
 33,
 32,
 32,
 32,
 32,
 32,
 31,
 31,
 31,
 31,
 30,
 30,
 30,
 30,
 30,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 28,
 28,
 28,
 28,
 28,
 28,
 27,
 27,
 27,
 27,
 27,
 26,
 26,
 26,
 26,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 24,
 24,
 24,
 24,
 24,
 23,
 23,
 23,
 23,
 23,
 23,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 12,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 10,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 9,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 ...]

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [78]:
# Use the normalize argument to change how the count is displayed
df_augmented['Breed'].value_counts(normalize=True)

Domestic Shorthair Mix                   0.234228
Domestic Shorthair                       0.076343
Pit Bull Mix                             0.065171
Labrador Retriever Mix                   0.053888
Chihuahua Shorthair Mix                  0.047425
                                           ...
Australian Cattle Dog/Black Mouth Cur    0.000007
Australian Shepherd/Staffordshire        0.000007
Dachshund Stan Mix                       0.000007
American Curl Shorthair/Siamese          0.000007
Pointer/Boston Terrier                   0.000007
Name: Breed, Length: 2734, dtype: float64

### `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [79]:
# Let's sort the year column
df_augmented['Year'].sort_values()

13061     2013
31112     2013
74446     2013
82804     2013
118202    2013
          ...
135555    2022
135554    2022
135553    2022
135566    2022
136763    2022
Name: Year, Length: 136764, dtype: int64

In [80]:
# Now, sort the Animal Type col
df_augmented['Animal Type'].sort_values()

4867       Bird
96361      Bird
15477      Bird
3791       Bird
34239      Bird
          ...
59440     Other
106179    Other
15456     Other
46896     Other
37968     Other
Name: Animal Type, Length: 136764, dtype: object

In [85]:
# We can do this on the whole dataframe, it just needs to know what to sort by
# like Excel 
df_augmented.sort_values(by=["Animal Type", "Year"]).head(15)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
8295,A668105,NaN,2013-11-27 15:15:00,2013,9205 North Drive in Austin (TX),Stray,Injured,Bird,Intact Male,1 year,Rhode Island Mix,Yellow/Black
45362,A666593,NaN,2013-11-04 13:02:00,2013,8405 Old Be Caves in Austin (TX),Stray,Normal,Bird,Intact Male,1 year,Parakeet Mix,Blue
81671,A668106,NaN,2013-11-27 15:15:00,2013,9205 North Drive in Austin (TX),Stray,Injured,Bird,Intact Male,1 year,Rhode Island Mix,Yellow/Black
100369,A666232,NaN,2013-10-29 11:09:00,2013,4808 Creek Bend Dr in Austin (TX),Stray,Injured,Bird,Unknown,1 year,Pigeon Mix,Gray
104170,A666594,NaN,2013-11-04 13:02:00,2013,8405 Old Be Caves in Austin (TX),Stray,Normal,Bird,Intact Male,1 year,Parakeet Mix,Green
3393,A680858,NaN,2014-06-09 11:40:00,2014,2000 N. Ih35 in Austin (TX),Stray,Normal,Bird,Unknown,2 weeks,Duck,Yellow/Black
4184,A680860,NaN,2014-06-09 11:40:00,2014,2000 N. Ih35 in Austin (TX),Stray,Normal,Bird,Unknown,2 weeks,Duck,Yellow/Black
10150,A680855,NaN,2014-06-09 11:40:00,2014,2000 N. Ih35 in Austin (TX),Stray,Normal,Bird,Unknown,2 weeks,Duck,Yellow/Black
12014,A683591,NaN,2014-07-12 14:51:00,2014,Red River And 41St St in Austin (TX),Wildlife,Normal,Bird,Unknown,4 weeks,Catbird Mix,Brown
13285,A687622,NaN,2014-09-07 19:30:00,2014,Cameron Rd & Hwy 290 in Austin (TX),Public Assist,Normal,Bird,Unknown,6 months,Chicken Mix,Brown
15477,A683716,NaN,2014-07-14 13:54:00,2014,9401 Capital Of Texas Highway in Austin (TX),Stray,Normal,Bird,Intact Female,1 month,Chicken,Brown/Yellow
17448,A679125,NaN,2014-05-16 17:38:00,2014,1907 Margalene Way in Austin (TX),Stray,Normal,Bird,Unknown,1 year,Lovebird Mix,White
25160,A683414,NaN,2014-07-10 11:13:00,2014,38 1/2 St-Ih35 in Austin (TX),Stray,Normal,Bird,Unknown,3 weeks,Sparrow Mix,Brown/Black
25919,A672342,NaN,2014-02-08 14:04:00,2014,4900 Pack Saddle Pass in Austin (TX),Stray,Injured,Bird,Intact Male,1 year,Chicken Mix,Red/Black
30602,A677677,NaN,2014-04-27 17:21:00,2014,3002 E 18 1/2 St in Austin (TX),Stray,Normal,Bird,Intact Male,2 years,Bantam Mix,White

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.